@page "/counter"
@using GLAB.Api.Accounts
@using GLAB.Implementation.Accounts
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<form >
    
    <div><input type="email" @bind="username"/></div>
    <div><input type="password" @bind="password"/></div>
    <div><button type="submit" @onclick="Login">Login</button></div>



</form>



@code {
    private string username, password;
    [Inject] IAccount _account { get; set; }
    
    private void Login()
    {
      var status=  _account.CheckCredentials(username, password).Result;
      Console.WriteLine(status.ToString());
    }
}