@*
@#1#using GLAB.APP.Components
@model dynamic#1#


<head>
    <link rel="stylesheet" href="LoginPage.css" />

</head>


<form method="post" action="/Login/Login" class="loginform">
  
    <img src="1.png" class="logo" />
  
    <div>
        <input type="email" name="username" class="email" placeholder="اسم المستخدم"/>
    </div>

    <div>
        <input type="password" name="password" class="password" placeholder="كلمة المرور"/>
    </div>

    <div>
        <button class="loginButton" onclick="">دخول</button>
    </div>
   
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div style="color: #ff0059; margin-top: 30px ">@ViewBag.Error</div>
    }
  

</form>

<script>


</script>
*@
<head>
    <link rel="stylesheet" href="LoginUser.css" />

</head>
<body>
    <nav class="nav-LoginUser">

        <div class="logonav">
            <img src="9.svg">
           
        </div>

    </nav>

    <section class="loginform">

        

        <div class="logincontent">
            
            <div class="LoginTitel">
                
                </div>
            <h2>Login</h2>
            <form method="post" action="/Login/Login" class="loginform">
                
                 <input type="email" name="username" placeholder="اسم المستخدم"/>
                <input type="password" name="password" placeholder="كلمة المرور"/>
                <button type="button" class="PasswordIcon" onclick=myFunction()><i class="bi bi-eye-slash-fill"></i></button>
                <a href="#">Forget Password?</a>
                
                <button  onclick="">دخول</button>

                <h3>No account? <a href="#">request membership</a> </h3>
            </form>
        </div>
      

        
        
    </section>
    

    <SCript>
        function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
    </SCript>
</body>

