@using GLAB.APP.Components
@model dynamic


<head>
    <link rel="stylesheet" href="LoginPage.css" />

</head>


<form method="post" action="/Login/Login" class="loginform">
  
    <img src="1.png" class="logo" />
  
    <div>
        <input type="email" name="username" class="email" placeholder="اسم المستخدم"/>
    </div>

    <div>
        <input type="password" name="password" class="password" placeholder="كلمة المرور"/>
    </div>

    <div>
        <button class="loginButton" onclick="">دخول</button>
    </div>
   
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div style="color: #ff0059; margin-top: 30px ">@ViewBag.Error</div>
    }

</form>

<script>


</script>

