@page "/MainPage"

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Welcome</h1>
    <form method="post" action="/Login/Logout">
        <button>LOGOUT</button> 
    </form>
   
</div>
</body>
</html>