
*[b-5nh2wlnxz9] {
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;

}
a[b-5nh2wlnxz9] {
    text-decoration: none;
    color: #000000;
}
a:hover[b-5nh2wlnxz9] {
    color: #80ED99;
}

nav[b-5nh2wlnxz9] {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #80ED99;
    padding: 3vh 5vh;
}

nav span[b-5nh2wlnxz9] {
    font-size: 20px;
}

nav span i[b-5nh2wlnxz9] {
    padding-right: 1vh;
    font-size: 3.5vh;
}



.card[b-5nh2wlnxz9] {
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 55vh;
    margin: 12vh auto;
    animation: fade-b-5nh2wlnxz9 250ms ease-in-out forwards;
    border:none;
}

.login-pos[b-5nh2wlnxz9] {
    margin-top: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-lab[b-5nh2wlnxz9] {
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    width: 42vh;
}

.login-lab .form-group input[b-5nh2wlnxz9] {
    border: 2px solid #80ED99;
    outline: 2px auto #80ED99;
}



.form-group[b-5nh2wlnxz9] {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
}

.form-group:last-child[b-5nh2wlnxz9] {
    margin: 0;
}

.form-group > label[b-5nh2wlnxz9] {
    font-weight: bold;
    font-size: .8em;
    color: #333;
}

.form-group > input[b-5nh2wlnxz9] {
    border: 2px solid #80ED99;
    border-radius: .25em;
    font-size: 1rem;
    padding: 1vh 2vh;
    margin-bottom: 1.5vh;
}

.step-title[b-5nh2wlnxz9] {
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;
}

.card.active[b-5nh2wlnxz9] {
    animation: slide-b-5nh2wlnxz9 250ms 125ms ease-in-out both;
}

.multi-step-form[b-5nh2wlnxz9] {
    overflow: hidden;
    position: relative;
}

.pos-btn[b-5nh2wlnxz9] {
    display: flex;
    justify-content: space-around;
}

.pos-btn button[b-5nh2wlnxz9] {
    width: 12vh;
    padding: 0.3vh;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #80ED99;
}

.hide[b-5nh2wlnxz9] {
    display: none;
}



.card-imag[b-5nh2wlnxz9] {
    display: flex;
    justify-content: flex-end;
    border: 2px solid #80ED99;
    width: 52vh;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-upload[b-5nh2wlnxz9] {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #80ED99;
    height: 6vh;
    font-size:11px;
}

.pos-btn-upload[b-5nh2wlnxz9] {
    width: 53vh;
    position: relative;
    top: 3vh;
    left: -3vh;
}
.pos-cam[b-5nh2wlnxz9] {
    text-align: center;
}

input[type="file"][b-5nh2wlnxz9] {
    display: none;
}

label[b-5nh2wlnxz9] {
    cursor: pointer;
}

#imageName[b-5nh2wlnxz9] {
    color: green;
}
@keyframes slide-b-5nh2wlnxz9 {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-b-5nh2wlnxz9 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(.75);
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}
